/*=====
- colors -
=====*/
:root {
    --main-background1: #181a20;
    --main-background2: #232946;
    --main-background3: #0becdc;
    --headers1: #5f6fff;
    --headers2: #8be9fd;
    --headers-border: #22223b;
    --text-block-border: #8be9fd;
    --text-block-background: #f8fafc;
    --text-block-text-color: #232946;
    --text-primary: #f8fafc;
    --text-secondary: #ffb86c;
    --text-tersury: #bd93f9;
    --links-line-text: #5f6fff;
    --links-line-text-hover: #ff79c6;
    --form-text: #232946;
    --form-border: #ffb86c;
    --form-background: #f8fafc;
}
/*=====
- reset shit -
=====*/
* {
    padding: 0;
    border: 0;
    margin: 0;
    text-decoration: none;
}
/*=====
- Page itself -
=====*/
html, body {
    height: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, var(--headers1), var(--headers2), var(--headers1));
}
h1 {
    color: var(--text-primary);
}
h2 {
    color: var(--text-secondary);
}
h3 {
    color: var(--text-tersury);
}
header {
    background: linear-gradient(90deg, var(--headers1), var(--headers2), var(--headers1));
    border-bottom: 0.2rem var(--headers-border) solid;
    text-align: center;
    font-weight: bold;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    position:sticky;
    top:0;
}
header h1 {
    font-size: 3rem;
    padding:0;
}
header h2{
    font-size: 2rem;
}
h1 {
    font-size: 2.5rem;
    padding-top: 2rem;
}
h2 {
    font-size: 2rem;
    padding: 0.4rem 2rem;
}
.text-block {
    background-color: var(--text-block-background);
    color: var(--text-secondary);
    border: 0.1rem var(--text-block-border) solid;
    border-radius:  0.625rem;
    padding: 1rem 1rem;
    margin: 1rem 2rem;
}
.text-block p {
    padding: 0.1rem 1rem;
    color: var(--text-block-text-color);
}
p {
    color: var(--text-tersury);
    font-size: 1.2rem;
    padding-left: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
footer {
    background: linear-gradient(90deg, var(--headers1), var(--headers2), var(--headers1));
    text-align: center;
    padding: 1rem 0;
}
.link-line {
    display: inline-flex;
    flex-direction: row;
    align-content: center;
    gap: 1rem;
}
.link-line a {
    font-size: 2rem;
    color: var(--links-line-text);
}
.link-line a:hover {
    color: var(--links-line-text-hover);
}
form {
    margin: 2rem 5rem;
    border: 0.2rem var(--form-border) solid;
    border-radius: 1rem;
    align-content: center;
    background-color: var(--form-background);
    h1 {
        text-align: center;
    }
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 3rem 10rem;
}
.form-box-item {
    display: inline-flex;
    margin: 0.5rem 1rem;
    padding: 0;
    max-width: 700px;
    align-self: center;
}
label {
    font-size: 2rem;
}
button {
    padding: 0.5rem 1rem;
    margin: 1rem 0.5rem;
    width: auto;
    display: block;
    border: 0.1rem var(--form-border) solid;
    border-radius: 1rem;
}
.page-container {
    background: linear-gradient(0deg, var(--main-background2),var(--main-background3), var(--main-background1));
    display: flex;
    flex-direction: column;
    height: auto;
}
.text-block, .text-block * {
    color: var(--text-block-text-color);
}
form, form * {
    color: var(--form-text);
}
input {
    padding: 0.5rem 1rem;
    border: 0.1rem var(--form-border) solid;
    background-color: var(--form-background);
    color: var(--form-text);
    font-size: 1.2rem;
    border-radius: 1rem;
    overflow: hidden;
    margin-left: 1rem;
}